name: CI/CD to Minikube

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: self-hosted  # use your self-hosted runner

    env:
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/demo-app:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build jar
        run: ./gradlew build 

      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME .

      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME

      - name: Set up kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Check cluster
        run: kubectl get nodes

      - name: Update image in manifest
        run: |
          sed -i 's#DOCKER_USERNAME/demo-app:latest#'"${IMAGE_NAME}"'#' k8s/deployment.yaml

      - name: Apply manifests
        run: |
          kubectl apply -f k8s/deployment.yaml

      - name: Check deployment
        run: |
          kubectl get pods
          kubectl get svc
